%p.tip
  To see how it works just press
  = raw %w{esc ~ ` § ±}.map {|v| "<i>#{v}</i>"}.join(" or ")
  on your keyboard

%section.intro
  %p
    This application make rails console available in browser. Also can be used as any kind of consoles.

  %h3 Possible futures

  %ul
    %li use web apps to have programmable interface for client-side functions (such as start/stop music, signin/logout from web chat)
    %li use with websockets to have remote control for web based apps

%section.music
  %p
    Other example is #{link_to "music console", '#', :class => 'music_console'}
    = raw "(hotkey <i>'m'</i>)"
  %audio(src="https://dl.dropbox.com/u/586048/13-My%20Darling-Ralph%20Myerz%20%28feat%20Pee%20Wee%29.mp3")
    %source(src="https://dl.dropbox.com/u/586048/13-My%20Darling-Ralph%20Myerz%20%28feat%20Pee%20Wee%29.ogg")