%p.tip
  To see how it works just press
  = raw %w{esc ~ ` § ±}.map {|v| "<i>#{v}</i>"}.join(" or ")
  on your keyboard

%section.intro
  %p
    This application make rails console available in browser. Also can be used as any kind of consoles.

  %h3 Possible futures

  %ul
    %li use web apps to have programmable interface for client-side functions (such as start/stop music, signin/logout from web chat)
    %li use with websockets to have remote control for web based apps